html{
    
    background-color: yellow;
}
/*Bodyt Style*/
body{
    
    background-color: white;
    width: 800px;
    border: 2px solid black;
    margin: auto;
}
/*Header Style*/
header{

    height: 120px;
    border-bottom: 2px solid blue;
}
/* website style*/

header img{
    
    float: left;
}

header h1{

    text-shadow: 10px 10px 12px green;
}

header h1::first-letter{

    font-size: 40px;
    color: red;
    margin-left: 10px;
}
/*Navigations*/
nav ul{
    list-style-type: none;
}
nav ul li{

    display: inline;
    margin: 10px;
}

nav ul li a:link {

    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

nav ul li a:visited{

    color: green;
}

nav ul li a:hover{

    color: red;
    text-decoration: underline;
}

nav ul li a:active{

    color: purple;
    font-size: 20px;
}
/*main style*/

main, section, article {

    padding: 10px;

}
/*Table style*/
table, th, td{

    border: 2px solid black;
}
table{

    width: 200px;
    border-collapse: collapse;
    margin: 2px auto;
}

tr:hover{

    background-color: yellow;
}
caption{

    color: red;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
/*footer*/
footer{

    border-top: 2px solid blue;
}

footer p{

    text-align: center;
}